<section id="hacking" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Hacking</h2>
        <hr class="small">
        <div class="row">
        <p>I'm interested in computer languages and algorithms, Machine Learning, BigData,
            Internet and privacy issues. I constantly mine for news, information and insights
            in every direction. My favourite sources are:
        <ul>
            <li><a class="links" target="_blank" href="https://news.ycombinator.com/">Hacker News</a></li>
            <li><a class="links" target="_blank" href="http://radar.oreilly.com/">O'Reilly Radar</a></li>
            <li><a class="links" target="_blank" href="http://arstechnica.com/">Ars Technica</a></li>
            <li><a class="links" target="_blank" href="http://highscalability.com/">High Scalability</a></li>
            <li><a class="links" target="_blank" href="https://theintercept.com/">The Intercept</a></li>
            <li><a class="links" target="_blank" href="http://www.elladodelmal.com/">Un informatico en el lado del mal</a></li>
            <li><a class="links" target="_blank" href="https://citizenlab.org/">The Citizen Lab</a></li>
            <li><a class="links" target="_blank" href="http://cyberwarzone.com/">Cyberwarzone</a></li>
            <li><a class="links" target="_blank" href="http://www.presentationzen.com/">Presentation Zen</a></li>
            <li><a class="links" target="_blank" href="http://designmodo.com/">Design Modo</a></li>
            <li><a class="links" target="_blank" href="http://www.creativebloq.com/">Creative Bloq</a></li>
            <li><a class="links" target="_blank" href="https://www.brainpickings.org/">Brain Pickings</a></li>
            <li><a class="links" target="_blank" href="http://hunch.net/">Machine Learning (Theory)</a></li>
            <li><a class="links" target="_blank" href="http://blog.kaggle.com/">no free hunch</a></li>
            <li><a class="links" target="_blank" href="http://karpathy.github.io/">Andrej Karpathy blog</a></li>
            <li><a class="links" target="_blank" href="https://charlesmartin14.wordpress.com/">Machine Learning</a></li>
        <li> ... and many others.</li>
        </ul>
 
        Check what I'm doing <a href="now">now</a>
        </p>
 
        <p>
            BTW, here's my recent Coursera's accomplishment
        </p>
        <p>
            <a href="https://www.coursera.org/account/accomplishments/records/DLPWCZA77QWF"><img class="cert"
                                                                                                 src="img/crsr_cert.png"></a>
        </p>

        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
