<section id="now" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>What I'm doing now</h2>
        <hr class="small">
        <div class="row">
            <p>This page is for anyone interested in what I’m doing these days. Learn more at <a href="//nownownow.com/">nownownow
                project</a>. <br>
         
                I'm spending my time mainly on this:
            </p>
            <ul>
                <li>My daytime job (see <a href="index.html#whoiam">here</a>)</li>
                <li>Being a full-time dad</li>
                <li>Staying up-to-date with the newest tech (see <a href="index.html#work">here</a>)</li>
                <li>Hacking (something is on my <a href="//github.com/ddmng" target="_blank">Github account</a>)</li>
                <li>Working (...not so much) on my side project</li>
                <li>Exploring other programming languages: Scala, Clojure and Groovy</li>
                <li>Listening to some good rock music</li>
                <li>Swimming</li>
            </ul>
         
            <small>Last update: <em>March 2016</em>. <br>Go back to the <a href="index.html">Home page</a>.</small>

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
